
# Auto-added by Universal Backup Script
*.7z
*.dll
*.exe
*.i64
*.id0
*.id1
*.id2
*.idb
*.nam
*.rar
*.sys
*.tar.gz
*.til
*.zip
.env
.vs/
.vscode/
__pycache__/
dist/win-unpacked/TiRex-RM.exe
node_modules/

dist/
win-unpacked/

*.bak
*.log
*.pdb
*.suo
*.tmp
*.user
.DS_Store
.idea/
.pytest_cache/
Thumbs.db
build/
dist/win-unpacked.tmp/electron.exe
env/
npm-debug.log*
out/
venv/
yarn-debug.log*
yarn-error.log*
